<a href="https://colab.research.google.com/github/HarshrajSharma/DataAnalytics/blob/main/DataAnalyticsDay8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Panda Library**

In [9]:
import pandas as pd
data={'calories':[420, 380, 390],
      'duration':[70, 50, 60]
      }
myvar=pd.DataFrame(data)
print(myvar)
print(myvar.loc[0:2])

   calories  duration
0       420        70
1       380        50
2       390        60
   calories  duration
0       420        70
1       380        50
2       390        60

In [33]:
data={'startCoordinate':[200, 380, 590],
      'endCoordinate':[300, 500, 760]
      }
myvar=pd.DataFrame(data, index=['sample1', 'sample2', 'sample3'])
print(myvar)
print('End co-ordinate of sample1:', myvar.loc["sample1", "startCoordinate"])
print('End co-ordinate of sample2:', myvar.loc["sample2", "startCoordinate"])
print('End co-ordinate of sample3:', myvar.loc["sample3", "startCoordinate"])

         startCoordinate  endCoordinate
sample1              200            300
sample2              380            500
sample3              590            760
End co-ordinate of sample1: 200
End co-ordinate of sample2: 380
End co-ordinate of sample3: 590

In [34]:
from pandas.io.parsers.readers import read_csv
df=pd.read_csv('data.csv')
#print(df.to_string())
#print(pd.options.display.max_rows)
pd.options.display.max_rows=9999
de=pd.read_csv('data.csv')
#print(de)
df.head(10)
df.tail(10)
#print(df.info()) #Finds the data types in the csv file

#Question: Find the maximum value of a nimeric column and also print its tuple

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6600 entries, 0 to 6599
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         6600 non-null   int64
 1   Industry_aggregation_NZSIOC  6600 non-null   object
 2   Industry_code_NZSIOC         6600 non-null   object
 3   Industry_name_NZSIOC         6600 non-null   object
 4   Units                        6600 non-null   object
 5   Variable_code                6600 non-null   object
 6   Variable_name                6600 non-null   object
 7   Variable_category            6600 non-null   object
 8   Value                        6599 non-null   object
 9   Industry_code_ANZSIC06       6599 non-null   object
dtypes: int64(1), object(9)
memory usage: 515.8+ KB
None