<a href="https://colab.research.google.com/github/HarshrajSharma/DataAnalytics/blob/main/DataAnalyticsDay9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **File Handling**

In [ ]:
import random 
f=open('ab', 'w')

for i in range(1,101):
  z=random.randint(5,9)
  f.write(str(z))
f.close()
f=open('ab', 'r')
a=f.read()
print(len(a))
for i in range(len(a)):
  print(a[i])
print('The max and min number in the file is: ', max(a), min(a))
f.close()

In [6]:
from itertools import repeat
new_list=[]
new_list.extend(repeat(2,200))
print(new_list)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [15]:
import pandas as pd
import sklearn as sk
from sklearn.datasets import load_iris

iris_obj=load_iris();
print(iris_obj.feature_names)
print(iris_obj.target)
print(iris_obj.target_names) #Here 0-> Setosa, 1-> Versicolor, 2-> Virginica

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
['setosa' 'versicolor' 'virginica']

In [26]:
print(iris_obj.data.shape[1])  #shape[0] -> Number of records, shape[1] -> Number of features


iris=pd.DataFrame(iris_obj.data, columns=iris_obj.feature_names, index=pd.Index(i for i in range(iris_obj.data.shape[0]))).join(pd.DataFrame(iris_obj.target, columns=pd.Index(['Species']), index=pd.Index([i for i in range(iris_obj.data.shape[0])])))
                                                                                                                                                                                                                              
print(iris)
print(len(iris.index))

print(iris.iloc[0:9, 0:2]) #Sequential selection of columns
print(iris.iloc[[3,5], [2,4]]) #Random selection of columns => iloc[[<Row Number>, <Column Number>]], [<Row Number>, <Column Number>]]
print(iris.columns)
print(iris.iloc[0:120, 0:-2])  #Here -2 means it will remove last 2 columns and print

newNames={
    'sepal length (cm)': 'sepal length',
    'sepal width (cm)':'sepal width',
    'petal length (cm)':'petal length',
    'petal width (cm)':'petal width'
}
newDataset=iris.rename(columns=newNames, inplace=True) # inPlace=True will change the names in the original datasets
print(iris)
print(newDataset) # None -> inplace=True, Table -> inplace=False

4
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 5 columns]
150
   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6
5                5.4               3.9
6                4.6               3.4
7                5.0               3.4
8                4.4               2.9
   petal length (cm)  Species
3                1.5        0
5                1.7        0
Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'Species'],
      dtype='object')
     sepal length (cm)  sepal width (cm)  petal length (cm)
0                  5.1               3.5                1.4
1                  4.9               3.0                1.4
2                  4.7               3.2                1.3
3                  4.6               3.1                1.5
4                  5.0               3.6                1.4
..                 ...               ...                ...
115                6.4               3.2                5.3
116                6.5               3.0                5.5
117                7.7               3.8                6.7
118                7.7               2.6                6.9
119                6.0               2.2                5.0

[120 rows x 3 columns]
     sepal length  sepal width  petal length  petal width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]